.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 130px;
  gap: 10px;
}

.pagination-container button {
  background-color: var(--keppel-100);
  color: var(--keppel-950);
  padding: 12px;
  border: none;
  font-family: "Poppins";
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination-item-active {
  color: var(--keppel-100) !important;
  background-color: var(--keppel-500) !important;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.pagination-container button:hover {
  background-color: var(--keppel-300);
}

.pagination-container button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}